<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Stand with us-Kislay Foundation</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" type="image/x-icon" href="./drawables/logo3.png">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <!-- Fonts include -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700;800;900&family=Inter:wght@500;600;700;800;900&    display=swap" rel="stylesheet">

    <!-- Let the code begin 😋 -->

    <!-- Thankyou Popup Screen😊 -->

  <!-- POPUP -->
<div class="overlay hidden overlay--thanks" id="overlay">
  &nbsp;
</div>

  <div class="popup popup--thankyou hidden" id="popupThanks">
    <div class="popup__wrapper">
      <!-- <div class="popup__close-btn">
        <p class="h3 popup__times" id="popupClose">&times;</p>
      </div> -->

      <h4 class="h4 h4--special popup__heading">Your response Sumbitted</h4>
  
      <!-- <p class="body1 banner-text popup__update">
        Last updated: &nbsp; <span class="u-text-color-blue"> Aug 22, 2021</span>
      </p> -->

      <p class="body2 popup__conditions u-margin-top-4 u-text-align-center">
        We will contact you as soon as possible..
        You can connect to our social media pages.<br> Please help us improve your experience..Please fill a 5 minutes feedback form so that we can serve you better
      </p>

      <!-- <h4 class="h5 popup__sub-heading">Your voice matters</h4> -->

      <div class="popup__btn-box">
        <a class="button btn popup__decline" id="closePopup">Close</a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScdIXx3J18Og0xCL5RZIVdLIOJrPM4Oc3GBnXxvUoWewokilQ/viewform" target="_blank" class="button btn popup__accept" id="fillFeedback">Fill feedback form</a>
      </div>

      
    </div>

  </div>



  <!-- Importance Popup Screen😗 -->

  <div class="overlay overlay--importance hidden" id="overlay">
    &nbsp;
  </div>
  
    <div class="popup popup--importance hidden" id="popupImportance">
      <div class="popup__wrapper">
        <!-- <div class="popup__close-btn">
          <p class="h3 popup__times" id="popupClose">&times;</p>
        </div> -->
  
        <h4 class="h4 popup__heading">Benefits of Physiotherapy at Home</h4>
  
        <p class="body2 popup__conditions">
          1) Convenience of being at home with the family and loved ones.<br><br>
          2) Personalized care with customized plans.<br> <br>
          3) Minimal mobility issues due to reduced ambulation/movement.<br><br>
          4) Time management.<br><br>
          5) Affordable care packages suitable for every type of patient.<br>
        </p>
  
        <div class="popup__btn-box">
          <a href="" class="button btn popup__close">Close</a>
        </div>
  
        
      </div>
  
    </div> -->

    <!-- CTA Floating -->
    <div class="floating">
      <a href="https://wa.me/+91 8090288152">
      <img src="./drawables/—Pngtree—whatsapp icon whatsapp logo_3584844.png" alt="" class="floating__img">
    </a>
    </div>

    <!-- 1) Navigation -->

    
    <nav class="navbar" id = "nav">
      <div class="navbar__inner">
        <a href="#"><img src="/drawables/logo3.png" alt="Web logo" class="navbar__logo" /></a> 

        <ul class="navbar__list">
          <li class="navbar__item navbar__item--1 button u-color-green">
            Home
          </li>
          <li class="navbar__item navbar__item--2 button">What we do</li>
          <li class="navbar__item navbar__item--3 button">Impact created</li>
          <li class="navbar__item navbar__item--4 button">About us</li>
          <li class="navbar__item navbar__item--5 button">Contact</li>
        </ul>

        <div class="navbar__cta btn btn--primary">
          <span class="iconify" data-icon="clarity:rupee-solid"></span>
          <a href="#pay">
            <p class="button ml1">Donate for Good</p>
          </a>
        </div>
      </div>
    </nav>

    <!-- 2) Banner section -->
    <div class="banner">
      <div class="banner__inner">
        <div class="banner__wrapper">
          <h2 class="banner__heading h2">
            Charity is the act of a <span class="u-color-red">Kind Heart</span>
          </h2>

          <p class="sub1 banner__sub-heading mt3">
            Education is the birth right of every child, so we stand that every
            student can have quality education to grow himself & in turn society.<br><br> <b>Help for construction of poor children school</b>
          </p>

          <div class="banner__cta-wrapper">
            <div class="btn--secondary btn banner__cta">
              <a href="#pay">
                <p class="button">Donate for Good</p>
              </a>
            </div>

            <img
              src="/drawables/Icon arrow.png"
              alt="Arrow icon kislay foundation"
              class="banner__arrow"
            />
            <a href="#vdo"><img
              src="/drawables/Icon video.png"
              alt="Arrow icon kislay foundation"
              class="banner__video" 
            /></a>
          </div>
        </div>

        <img
          src="./drawables/poor-child-final.jpg"
          alt="Banner iamge"
          class="banner__img"
        />
      </div>
    </div>


    <!-- 4) Support in Domains -->
    <div class="domains mt20">
      <div class="domains__inner">
        <p class="section-heading designer-text-2">
          <!-- Its style in base file -->
          We support childern in
        </p>

        <div class="domains__wrapper mt8">
          <div class="domain-card">
            <div class="domain-card__icon-wrapper">
              <img
                src="/drawables/Icon book.png"
                alt="Icon book Kislay foundation"
                class="domain-card__icon"
              />
            </div>

            <h5 class="h5 domain-card__heading">Education</h5>

            <p class="body1 domain-card__text">
              We provide the education to the under-privelaged students who
              can’t afford to pay heavy fee amount to get the eductaion
            </p>
          </div>

          <div class="domain-card">
            <div class="domain-card__icon-wrapper">
              <img
                src="/drawables/Icon clothes.png"
                alt="Icon book Kislay foundation"
                class="domain-card__icon"
              />
            </div>

            <h5 class="h5 domain-card__heading">Clothes</h5>

            <p class="body1 domain-card__text">
              Clothes are the basic necessity for human being. But unfortunately
              every child doesn't get it. So we rise that every child can have the
              clothes on their body
            </p>
          </div>

          <div class="domain-card">
            <div class="domain-card__icon-wrapper">
              <img
                src="/drawables/Icon food.png"
                alt="Icon book Kislay foundation"
                class="domain-card__icon"
              />
            </div>

            <h5 class="h5 domain-card__heading">Food</h5>

            <p class="body1 domain-card__text">
              Every night there are millions of children who starve out of
              hunger! We try to provide them food as per our funds allow us.
            </p>
          </div>

          <div class="domain-card ">
            <div class="domain-card__icon-wrapper">
              <img
                src="/drawables//Icon events.png"
                alt="Icon book Kislay foundation"
                class="domain-card__icon"
              />
            </div>

            <h5 class="h5 domain-card__heading">Events</h5>

            <p class="body1 domain-card__text">
              We Humanity & nationality should be nourished in every young
              heart. We here at Kislay Foundation celebrate national festivals
              and oragnise extra curicullar events
            </p>
          </div>

          <div class="domain-card ">
            <div class="domain-card__icon-wrapper">
              <img
                src="/drawables/Icon meds.png"
                alt="Icon book Kislay foundation"
                class="domain-card__icon"
              />
            </div>

            <h5 class="h5 domain-card__heading">Medications</h5>

            <p class="body1 domain-card__text">
              We organise medical camps & distribute basic medicines to under
              privelaged section of society. So that they can maintain their
              health
            </p>
          </div>

          <div class="domain-card">
            <div class="domain-card__icon-wrapper">
              <img
                src="/drawables/Icon Games.png"
                alt="Icon book Kislay foundation"
                class="domain-card__icon"
              />
            </div>

            <h5 class="h5 domain-card__heading">Games</h5>

            <p class="body1 domain-card__text">
              Its said that best teacher in the world is sports that teaches us
              to Never Give Up. So we try to build the feeling of team-spirit &
              descipline in their character
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- 3) Contributors section -->
    <div class="contributors mt20">
      <div class="contributors__inner">
        <p class="section-heading designer-text-2">
          <!-- Its style in base file -->
          Top contributors
        </p>

        <div class="contributors__wrapper">
          <p class="contributors__tag designer-text-2">Santosh</p>
          <p class="contributors__tag designer-text-2">R.B. Pandey</p>
          <p class="contributors__tag designer-text-2">Mukesh Jain</p>
          <p class="contributors__tag designer-text-2">Harish Singh</p>
          <p class="contributors__tag designer-text-2">Sachin Tandon</p>
        </div>
      </div>
    </div>

    <!-- 5) Achievements section -->
    <div class="achievements mt20">
      <div class="achievements__inner">
        <p class="section-heading designer-text-2">
          <!-- Its style in base file -->
          We create Impact
        </p>

        <div class="achievements__wrapper mt8">
          <div class="achievements-card">
            <div class="round-progress-bar round-progress-bar--1">&nbsp;</div>

            <h5 class="achievements-card__text h5">Students served</h5>
          </div>

          <div class="achievements-card">
            <div class="round-progress-bar round-progress-bar--2">&nbsp;</div>

            <h5 class="achievements-card__text h5">NGO Volunteers</h5>
          </div>

          <div class="achievements-card ">
            <div class="round-progress-bar round-progress-bar--3">&nbsp;</div>

            <h5 class="achievements-card__text h5">In the News</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- 5) Money section -->
    <!-- <div class="achievements mt20">
      <div class="achievements__inner">
        <p class="section-heading designer-text-2">
          Donate us via
        </p>

        <div class="achievements__wrapper mt8">
          <div class="money__card">
            <h5 class="money-card__text h5">Account Number:<br> 733610210000001</h5>
          </div>

          <div class="money__card">
            <h5 class="money-card__text h5">IFSC Code:<br> BKID0007336</h5>
          </div>

          <div class="money__card">
            <h5 class="money-card__text h5">Bank Name:<br> Bank Of India</h5>
          </div>

          <div class="money__card">
            <h5 class="money-card__text h5">Branch Name: <br> "High way City Sanigawan Road"</h5>
          </div>

          <div class="money__card">
            <h5 class="money-card__text h5">Account Type: <br>Savings</h5>
          </div>
          
          <div class="money__card special">
            <h5 class="money-card__text h5">Holder Name: <br>Kislay Seva Sansthan</h5>
          </div>
          
        </div>
      </div>
    </div> -->


    <!-- New money section -->

    <section class="pay" id="pay">
      <div class="pay__inner">

        <p class="section-heading designer-text-2">
          <!-- Its style in base file -->
          Donate us Via
        </p>


        <div class="pay__wrapper">
          <button id="rzp-button0" class="h5 pay__btn">&#8377 1</button>
          <button id="rzp-button1" class="h5 pay__btn">&#8377 100</button>
          <button id="rzp-button2" class="h5 pay__btn">&#8377 500</button>
          <button id="rzp-button3" class="h5 pay__btn pay__btn--special">&#8377 1000</button>
          <button id="rzp-button4" class="h5 pay__btn">&#8377 2000</button>
        </div>

        <p class="pay__text body2">
          "Your one step can make future of a child better.."
        </p>

        <div class="pay__caution-container">
          <p class="pay__caution body1">
            All payments are secured with <span class="h6">RazorPay</span> &nbsp; <span class = "h5"> &#128274;</span> 
          </p>
        </div>
      </div>
    </section>

    <!-- 6) Video -->

    <section class="vdo" id="vdo">
      <div class="vdo__inner">
        <iframe height="300" width="100%"
         src="https://www.youtube.com/embed/E1xkXZs0cAQ?autoplay=1">
        </iframe>
      </div>
    </section>

    <!-- 7) Testimonials -->

    <div class="testimonials mt20">
      <div class="testimonials__inner">
        <p class="section-heading designer-text-2">
          <!-- Its style in base file -->
          Our contributors believe us
        </p>
        <div class="testimonials__wrapper mt8">
          <div class="testimonial-card testimonial-card--active">
            <div class="testimonial-card__img-box">
              <img
                src="/drawables/review1.jpg"
                alt="Testimonial Author image Kislay foundation"
                class="testimonial-card__img"
              />
            </div>
            <p class="testimonial-card__designation sub2">Businessman</p>
            <h5 class="testimonial-card__author h5">Sachin Tandon</h5>
            <p class="testimonial-card__text testimonial-text">
              I usually donate in Kislay Foundation & feel that my amount is
              going for a good cause in society and for the needy ones. I feel
              they are doing a great job for the upliftment of society
            </p>
          </div>

          <div class="testimonial-card">
            <div class="testimonial-card__img-box">
              <img
                src="/drawables/Testimonial author.png"
                alt="Testimonial Author image Kislay foundation"
                class="testimonial-card__img"
              />
            </div>
            <p class="testimonial-card__designation sub2">Businessman</p>
            <h5 class="testimonial-card__author h5">Sachin Tandon</h5>
            <p class="testimonial-card__text testimonial-text">
              I usually donate in Kislay Foundation & feel that my amount is
              going for a good cause in society and for the needy ones. I feel
              they are doing a great job for the upliftment of society
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- 7) About -->
    <div class="about mt20">
      <div class="about__inner">
        <p class="section-heading designer-text-2">
          <!-- Its style in base file -->
          The Person behind
        </p>

        <div class="about__wrapper mt8">
          <img src="/drawables/p9999.jpg" alt="About image" class="about__img">

          <div class="about__content">
            <div class="about-card">
              <div class="about-card__wrapper">
                <div class="about-card__header">
                  <div class="about-card__about">
                    <div class="about-card__icon-wrapper">
                      <img src="/drawables/Icon mission.png" alt="Icon of out mission at Kislay Seva Sansthan">
                    </div>
                    <h5 class="about-card__title h5">Our Mission</h5>
                  </div>

                  <div class="about-card__expand u-align-self-last" id="expandIcon1">
                    <div class="horizontal">&nbsp;</div>
                    <div class="vertical" id="plusMinus1">&nbsp;</div>
                  </div>

                </div>
              </div>
              
              <p class="about-card__text body1 invisible" id="expandText1">
                To educate every girl child & poor children in society and bring them to main stream of society in Life
              </p>

            </div>

            <div class="about-card">
              <div class="about-card__wrapper">
                <div class="about-card__header">
                  <div class="about-card__about">
                    <div class="about-card__icon-wrapper">
                      <img src="/drawables/Icon about.png" alt="Icon of out mission at Kislay Seva Sansthan">
                    </div>
                    <h5 class="about-card__title h5">About the person</h5>
                  </div>

                  <div class="about-card__expand u-align-self-last" id="expandIcon2">
                    <div class="horizontal">&nbsp;</div>
                    <div class="vertical invisible" id="plusMinus2">&nbsp;</div>
                  </div>

                </div>
              </div>
              
              <p class="about-card__text body1" id="expandText2">
                Namaskar,  I Praveen Pandey am a small businessman who thinks about his nation & society especially for those poor children who can not afford basic necessities of life<br><br>
                
                I was a manager for few years in a private firm. When I used to travel and watch those children bare footed on footpath suddenly from inside an urge to help them aroused in my heart. From there my life changed.<br><br>

                I started Kislay seva sansthan in year 2016 and running till date. I hope other people will also rise & stand with us to help these children<br> 
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>


    <section class="team">
      <div class="team__inner">
        <p class="section-heading designer-text-2">
          <!-- Its style in base file -->
          Meet our Team
        </p>
        
        <div class="team__content-wrapper">
          <div class="team-card">
            <p class="sub1 team-card__heading">Shri R.B. Pandey</p>
            <p class="body1 team-card__sub-heading">Founder</p>
            <img src="/drawables/p3.jpg" alt="#" class="team-card__img">
          </div>

          <div class="team-card">
            <p class="sub1 team-card__heading">Praveen Pandey</p>
            <p class="body1 team-card__sub-heading">President</p>
            <img src="/drawables/p9999.jpg" alt="#" class="team-card__img">
          </div>

          <div class="team-card">
            <p class="sub1 team-card__heading">Rekha Pandey</p>
            <p class="body1 team-card__sub-heading">Founder</p>
            <img src="/drawables/p2.jpg" alt="#" class="team-card__img">
          </div>

          <div class="team-card">
            <p class="sub1 team-card__heading">Mayank Shukla</p>
            <p class="body1 team-card__sub-heading">Legal Advisor</p>
            <img src="/drawables/p1.jpg" alt="#" class="team-card__img">
          </div>

          <div class="team-card">
            <p class="sub1 team-card__heading">Ranjana</p>
            <p class="body1 team-card__sub-heading">Teacher</p>
            <img src="/drawables/p5.jpg" alt="#" class="team-card__img">
          </div>

          <div class="team-card">
            <p class="sub1 team-card__heading">Satish Jaiswal</p>
            <p class="body1 team-card__sub-heading">Member</p>
            <img src="/drawables/p6.jpg" alt="#" class="team-card__img">
          </div>

          <div class="team-card">
            <p class="sub1 team-card__heading">Harish Singh</p>
            <p class="body1 team-card__sub-heading">Member</p>
            <img src="/drawables/p7.jpg" alt="#" class="team-card__img">
          </div>

          <div class="team-card">
            <p class="sub1 team-card__heading">Meenakshi Tiwari</p>
            <p class="body1 team-card__sub-heading">Member</p>
            <img src="/drawables/p8.jpg" alt="#" class="team-card__img">
          </div>

          <div class="team-card">
            <p class="sub1 team-card__heading">Piyush</p>
            <p class="body1 team-card__sub-heading">Tech Support</p>
            <img src="/drawables/pf11.jpg" alt="#" class="team-card__img">
          </div>
        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <div class="contact__inner">
        <p class="section-heading designer-text-2">
          <!-- Its style in base file -->
          Contact us
        </p>

        <div class="contact__wrapper">
          <img
            src="./drawables/Icon contact.png"
            alt="Contact Illustration"
            class="contact__img"
          />

          <div class="contact-form" id="contact__form">
            <div class="contact-form__input-box">
              <label for="firstName" class="h6 contact-form__label">Name</label>

              <div class="contact-form__double-input">
                <input
                  type="text"
                  class="contact-form__input contact-form__input--half"
                  placeholder="First Name"
                  id="firstName" required
                />

                <input
                  type="text"
                  class="contact-form__input contact-form__input--half"
                  placeholder="Last Name"
                  id="lastName" required
                />
              </div>
            </div>

            <!-- Email Box -->

            <div class="contact-form__input-box u-margin-top-4">
              <label for="email" class="h6 contact-form__label">E-mail</label>

              <input
                type="email"
                class="contact-form__input contact-form__input--full"
                placeholder="Enter your E-mail"
                id="email" required
              />
            </div>

            <!-- Contact Box -->

            <div class="contact-form__input-box u-margin-top-4">
              <label for="contactNumber" class="h6 contact-form__label"
                >Contact Number</label
              >

              <input
                type="text"
                class="contact-form__input contact-form__input--full"
                placeholder="Enter your contact Number"
                id="contactNumber" required
              />
            </div>

            <!-- Queery Box -->

            <div class="contact-form__input-box u-margin-top-4">
              <label for="querryBox" class="h6 contact-form__label"
                >Your querry</label
              >

              <textarea
                name="Text area"
                id="querry"
                class="contact-form__input contact-form__input--full"
                cols="30"
                rows="7"
                placeholder="Describe about your querry a bit"
                id="querryBox"
              ></textarea>
            </div>
            <a class="btn btn--primary button u-margin-top-4"  id="bookSession2">POST</a>
          </div>
        </div>
      </div>
    </section>

    

    <section class="footer u-change-bg-color">
      <div class="footer__inner">
        <div class="footer__wrapper">
          <div class="footer__copyright">
              <p class="logo h5 footer__logo">
                <img src="/drawables/logo3.png" alt="Web logo" class="navbar__logo" />
              </p
           </div>

            <p class="footer__credentials">
              All Copyrights reserved @Kislay Foundation
            </p>
          </div>

          <div class="footer__social-links">
            <p class="footer__text">Connect on Social Media</p>

            <div class="footer__links-container">
              <!-- <a href="https://www.facebook.com/profile.php?id=100006525182522" target="_blank"><img src="./drawables/Instagram.png" alt="Fb" class="footer__link footer__link--1"></a> -->
              <a href="https://www.instagram.com/kislay_seva_sansthan/" target="_blank"><img src="./drawables/Instagram.svg" alt="Instagram" class="footer__link footer__link--2"></a>
              <!-- <a href="https://twitter.com/DeepakK32084551" target="_blank"><img src="./drawables/LinkedIn.svg" alt="Fb" class="footer__link footer__link--3"></a> -->
              <a href="https://twitter.com/Praveen98719830" target="_blank"><img src="./drawables/Twitter Circled.svg" alt="Fb" class="footer__link footer__link--4"></a>
            </div>
          </div>
        </div>

        <p class="footer__developer">
          Designed & Developed with ❤ by
          <span class="u-signature">Piyush Agarwal</span>
        </p>

        <p class="footer__version">
          Version 0.1.0 Beta
        </p>
      </div>

    </section>



    <!-- Java script Files😁 -->


    <!-- Iconify icons -->
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>

    <!-- Razor pay checkout -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <!-- <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

    <script src="script.js" async defer></script>
    <script src="popup.js" async defer></script>
    <script src="email.js" asyc defer></script>




    <script>
      var orderId;
      //creates new orderId everytime
      $(document).ready(function () {
        var settings = {
          url: "/create/orderId", //Change me
          method: "POST",
          timeout: 0,
          headers: {
            "Content-Type": "application/json",
          },
          data: JSON.stringify({
            amount: "50000",
          }),
        };

        $.ajax(settings).done(function (response) {
          orderId = response.orderId;
          console.log(orderId);
          $("button").show();
        });
      });

      ///////////////////////////////////// 
      ///////  Checkout Parameters 



var optionsTest = {
    "key": "rzp_test_b99thg5sLj2zei", // Enter the Key ID generated from the Dashboard
    "amount": "100", // 1 rupae
    "currency": "INR",
    "name": "Kislay Seva Sansthan",
    "description": "Donate for good",
    "image": "https://joinkislay.herokuapp.com/drawables/logo3.png",
    "order_id": orderId, //This is a sample Order ID. Pass the `id` obtained in the previous step
    "handler": function (response){
        alert('Successfully processed your request..');
        alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature)
        var settings = {
          "url": "/api/payment/verify", //Change me
          "method": "POST",
          "timeout": 0,
          "headers": {
            "Content-Type": "application/json"
          },
          "data": JSON.stringify({response}),
        }
    },

    "theme": {
        "color": "#E8BFFB"
    }
};





  var options = {
    "key": "rzp_test_b99thg5sLj2zei", // Enter the Key ID generated from the Dashboard
    "amount": "10000", // 100 rupae
    "currency": "INR",
    "name": "Kislay Seva Sansthan",
    "description": "Donate for good",
    "image": "https://joinkislay.herokuapp.com/drawables/logo3.png",
    "order_id": orderId, //This is a sample Order ID. Pass the `id` obtained in the previous step
    "handler": function (response){
        alert('Successfully processed your request..');
        alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature)
        var settings = {
          "url": "/api/payment/verify", //Change me
          "method": "POST",
          "timeout": 0,
          "headers": {
            "Content-Type": "application/json"
          },
          "data": JSON.stringify({response}),
        }
    },

    "theme": {
        "color": "#E8BFFB"
    }
};


var options2 = {
    "key": "rzp_test_b99thg5sLj2zei", // Enter the Key ID generated from the Dashboard
    "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Kislay Seva Sansthan",
    "description": "Donate for good",
    "image": "https://joinkislay.herokuapp.com/drawables/logo3.png",
    "order_id": orderId, //This is a sample Order ID. Pass the `id` obtained in the previous step
    "handler": function (response){
        alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature)
        var settings = {
          "url": "http://localhost:3000/api/payment/verify", //Change me
          "method": "POST",
          "timeout": 0,
          "headers": {
            "Content-Type": "application/json"
          },
          "data": JSON.stringify({response}),
        }
    },

    "theme": {
        "color": "#4120A9"
    }
};


var options3 = {
    "key": "rzp_test_b99thg5sLj2zei", // Enter the Key ID generated from the Dashboard
    "amount": "100000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Kislay Seva Sansthan",
    "description": "Donate for good",
    "image": "https://joinkislay.herokuapp.com/drawables/logo3.png",
    "order_id": orderId, //This is a sample Order ID. Pass the `id` obtained in the previous step
    "handler": function (response){
        alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature)
        var settings = {
          "url": "http://localhost:3000/api/payment/verify", //Change me
          "method": "POST",
          "timeout": 0,
          "headers": {
            "Content-Type": "application/json"
          },
          "data": JSON.stringify({response}),
        }
    },

    "theme": {
        "color": "#3399cc"
    }
};


var options4 = {
    "key": "rzp_test_b99thg5sLj2zei", // Enter the Key ID generated from the Dashboard
    "amount": "200000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Test kislay",
    "description": "Test Transaction",
    "image": "https://joinkislay.herokuapp.com/drawables/logo3.png",
    "order_id": orderId, //This is a sample Order ID. Pass the `id` obtained in the previous step
    "handler": function (response){
        alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature)
        var settings = {
          "url": "http://localhost:3000/api/payment/verify", //Change me
          "method": "POST",
          "timeout": 0,
          "headers": {
            "Content-Type": "application/json"
          },
          "data": JSON.stringify({response}),
        }
    },

    "theme": {
        "color": "##FFA500"
    }
};



//////////////////////////////////////////////////
///////////// Payment failure

var rzp0 = new Razorpay(optionsTest);
rzp0.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});

var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});

////////////////////////// copy

var rzp2 = new Razorpay(options2);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});

var rzp3 = new Razorpay(options3);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});

var rzp4 = new Razorpay(options4);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});


document.getElementById('rzp-button0').onclick = function(e){
    rzp0.open();
    document.getElementById('nav').classList.add('hiddenByZ');
    e.preventDefault();
}


document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    document.getElementById('nav').classList.add('hiddenBy');
    e.preventDefault();
}

document.getElementById('rzp-button2').onclick = function(e){
    rzp2.open();
    document.getElementById('nav').classList.add('hiddenBy');
    e.preventDefault();
}

document.getElementById('rzp-button3').onclick = function(e){
  document.getElementById('nav').classList.add('hiddenBy');
    rzp3.open();
    e.preventDefault();
}

document.getElementById('rzp-button4').onclick = function(e){
  document.getElementById('nav').classList.add('hiddenBy');
    rzp4.open();
    e.preventDefault();
}
</script>



  </body>
</html>
